{% extends 'blog/base_menu.html' %}
{% load static %}
{% block jshead %}
{{ block.super  }}
<link href="http://cdn.bootcss.com/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/summernote/0.8.1/summernote.min.js"></script>


{% endblock %}
{% block menulist %}
<li>
    <a href="{% url 'blogdjango:selfIndex' %}"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
</li>
<li>
    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">短篇博文</span> <span class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
		<li><a href="{% url 'blogdjango:shortArticle'%}">全部博文</a></li>
	</ul>
</li>
<li class="active">
    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
	<li><a href="#">新建博文</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">博客设置</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#">权限管理</a></li>
        <li><a href="#">待用</a></li>
    </ul>
</li>
{% endblock %}
{% block searchform %}
<form role="search" class="navbar-form-custom" action="">
    <div class="form-group">
        <input type="text" placeholder="根据tag搜索文章" class="form-control" name="tag-search" id="tag-search">
    </div>
</form>
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Blog</a>
            </li>

            <li class="active">
                <strong>Article</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content  animated fadeInRight article hidden detail-dismiss">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
			    <div class="ibox-tools">
					<button id="new" class="btn btn-primary  btn-xs" onclick="toggleHide()" type="button">返回文章列表</button>
				</div>
                <div class="ibox-content">
					<div id="article_detail">
					</div>
                    <div class="row">
                       <div class="col-lg-12">
                         <h2>评论:</h2>		
						<div class="social-feed-box hidden">
							<div class="hidden comment-Template">
                                    <div class="social-avatar">
                                      <a href="" class="pull-left">
                                         <img class="user-img" alt="image" src="img/a1.jpg">
                                     </a>
                                     <div class="media-body">
                                        <a class="comment-User" href="#">
                                              Andrew Williams
                                        </a>
                                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                        <small class="commentParentId hidden"></small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    <p class="comment-content"> 
                                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                        default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                        default model text.
                                    </p>
									<button class="btn btn-primary  btn-xs"  type="button" onclick="answerComment()">回复</button>
                                </div>
							</div>
						</div>
							<div class="form-group col-lg-8">
                                    <input type="hidden" name="parentId" id="commentParentId" value="undefined">
							     <textarea class="form-control" rows="1" id="commentText" placeholder="在这里写评论"></textarea>
							</div>
							<div class="form-group col-lg-4">
							<button class="btn btn-primary  btn-xs" id="commitCommentBtn"  type="button">评论</button>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content detail-dismiss">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins" id="summernoteibox">
            <div class="ibox-title">
                <h5>新建博文</h5>
                <div class="ibox-tools">
				<button id="new" class="btn btn-primary  btn-xs" onclick="startEditor()" type="button">新建</button>
				<button id="save" class="btn btn-primary  btn-xs" onclick="saveArticle(is_publish=true)" type="button">保存</button>
                    <button id="save" class="btn btn-primary  btn-xs" onclick="saveArticle(is_publish=false)" type="button">暂存</button>
				<button id="cancel" class="btn btn-primary  btn-xs" onclick="cancel()" type="button">取消</button>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding">	
				<h1 class="text-center">
				<input class="input-large" type="text" id="blog_article_title" placeholder="请在这里输入博文标题">
				</h1>
				<div class="summernote">
				</div>
				
			<div class="form-group col-lg-12">
				<label for="name">日志标签</label>
				<input class="input-xlarge" type="text" id="article_tags" placeholder="每个标签以逗号分隔">
			</div>
            </div>
			
        </div>
    </div>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog detail-dismiss">
    <div class="row">
	{% if not Articles %}
	    <div class="col-lg-12">
            <div class="ibox">
			<div class="ibox-title">
                <div class="ibox-tools">
					<h5>全部博文</h5>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">

                    <p>
                        这个人很懒，暂时没有什么可以展示的
                    </p>			

            </div>
			</div>
		</div>
	{% endif %}
	{% for Article in Articles %}
        <div class="col-lg-12">
            <div class="ibox">
			<div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">
						<div id="article_list_{{Article.id}}">
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> {{Article.create_time}}</span>
                                <h1>
                                    {{Article.blog_text_title}}
                                </h1>
                            </div>
							<div class="limitline">
							{% autoescape off %} 
								{{Article.context}}
							{% endautoescape %}
							</div>
							
                            <hr>
							
                            <div class="row">
                                <div class="col-md-6">
                                        <h5>Tags:</h5>
                                        {% for tag in Article.gettags %}
									<button class="btn btn-white btn-xs" type="button">{{tag}}</button>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if username %}
                        <button id="new" class="btn btn-primary  btn-xs" onclick="opendetail({{Article.id}},{{username}})" type="button">查看详情</button>
                        {% else %}
                        <button id="new" class="btn btn-primary  btn-xs" onclick="opendetail({{Article.id}})" type="button">查看详情</button>
                        {% endif %}
                </div>
            </div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}