{% extends "blog/base.html" %}
{% block title %}
{% if article.title %}
{{ article.title }}
{% endif %}
{% endblock %}
{% block jshead %}
	{{ block.super }}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/hubspot/css/messenger-theme-future.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/hubspot/css/messenger.css' %}">
	<script type="text/javascript" src="{% static 'blog/ueEditor/ueditor.config.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/ueEditor/ueditor.all.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/ueEditor/lang/zh-cn/zh-cn.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/xianyouq.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/jquery/jquery.cookie.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/hubspot/js/messenger.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/hubspot/js/messenger-theme-future.js' %}"></script>
	{% include "blog/EditJavaScript.html" %}
{% endblock %}
{% block content %}
	<div class="leftcontent col-sm-12 col-md-9">
		<div class="page-header">
			<h2><input type="text" name="title" id="editTitle" >
			{% if article.title %}
				{{ article.title }}
			{% endif %}
			</input></h2>
		</div>
	
		<textarea name="editarea" id="myEditor">
 		{% if article.content %}
			{% autoescape off %}
			{{ article.content }}
			{% endautoescape %}
 		{% endif %}
	</textarea>  
		<input type="button"  id="editSubmit" value="提交" />
	</div>
{% endblock %}
{% block footer %}
{% endblock %}