{% for article in articles %}
<div class="fengzhengarticle">
	<div class="page-header">
		<h2>
			<a href='/article/{{ article.id }}'>{{article.blog_text_title}}</a>
		</h2>
	</div>
	<div class="articleinfo"> 
		<span class='author'>{{userDetail.nickname}}</span>
		<time>{{article.create_time|date:"Y-m-d"}}</time>

	</div>

	<div class="summaryinfo">
		{% autoescape off %}
		{{ article.context }}
		{% endautoescape %}
	</div>
	<div class="article_footer">
		<a href="/article/{{ article.id }}"><button type="button" class="btn btn-primary btn-xs">阅读全文...</button></a>
	</div>
</div>

{% endfor %}