{% extends 'blog/base.html' %}
{% block leftmenu %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                 <li class="nav-header">
                    <div class="profile-element"> <span>
                            <img alt="image" height="60" width="60" class="img-circle" src="{{userDetail.head_photo}}" />
                             </span>
                            <a href="#">
                            <span class="clear"> <span class="block m-t-xs"> 
                            {%  if username %}
                            <strong class="font-bold">{{username}}</strong>
                            {% else %}
                            <strong class="font-bold">{{user.username}}</strong>
                            {% endif %}
                             </span></span> 
                            </a>
                    </div>
                      <div class="logo-element">
                         BLOG
                       </div>
                 </li>
                 {% block menulist %}
                 {% endblock %}
              </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
{% endblock %}
{% block navhead %}
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
		{% block searchform %}
		{% endblock %}
            <ul class="nav navbar-top-links navbar-right">
				{% if username %}
				<li>
					<a href="{% url 'blogdjango:selfIndex' %}">
					<span class="m-r-sm text-muted">返回自己的主页</span>
					</a>
				</li>
				{% endif %}
                <li>
                    <a href="{% url 'blogauth:logout' %}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
            </ul>
{% endblock %}
{% block chatbox %}
       <div class="small-chat-box fadeInRight animated">

            <div class="heading" draggable="true">
                <small id="chat-timer" class="chat-date pull-right">
                </small>
                聊天工具
            </div>
            
            <div class="content">
             {% comment %}
                {% block chatmessage %}

                {% for message in messages %}
                    {% if message.from_user == user.username %}
                    <div class="right">
                             <div class="author-name">
                               {{ message.from_user }}
                              <small class="chat-date">
                                 {{ message.datetime }}
                               </small>
                             </div>
                       <div class="chat-message">
                                {{ message.content }}
                       </div>
                   </div>
                   {% else %}
                    <div class="left">
                             <div class="author-name">
                               {{ message.from_user }}
                              <small class="chat-date">
                                 {{ message.datetime }}
                               </small>
                             </div>
                       <div class="chat-message">
                                {{ message.content }}
                       </div>
                   </div>
                   {% endif %}
                {% endfor %}
                {% endblock %}
            {% endcomment %}
            </div>
            
            <div class="form-chat">
                <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                        class="btn btn-primary" type="button">Send
                </button> </span></div>
            </div>

        </div>
        <div id="small-chat">

            <span class="badge badge-warning pull-right">5</span>
            <a class="open-small-chat">
                <i class="fa fa-comments"></i>

            </a>
        </div>
{% endblock %}
{% block rightsidebar %}
        <div id="right-sidebar">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li class="active"><a data-toggle="tab" href="#tab-1">
                        聊天消息
                    </a></li>
                    <li><a data-toggle="tab" href="#tab-2">
                        评论
                    </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">
                        <i class="fa fa-gear"></i>
                    </a></li>
                </ul>

                <div class="tab-content">


                    <div id="tab-1" class="tab-pane active">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
                            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                        </div>

                        <div>

                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        There are many variations of passages of Lorem Ipsum available.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                         
                        </div>

                    </div>

                    <div id="tab-2" class="tab-pane">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-cube"></i> Latest projects</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <ul class="sidebar-list">
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div id="tab-3" class="tab-pane">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-gears"></i> Settings</h3>
                        </div>

					<div class="setings-item">
						<span>
							左边菜单固定
						</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="sidebar_fixedsidebar" onchange="blogChange('sidebar_fixedsidebar')">
                                    <label class="onoffswitch-label" for="sidebar_fixedsidebar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                       </div>
					<div class="setings-item">
						<span>
							导航栏固定
						</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="sidebar_fixednavbar" onchange="blogChange('sidebar_fixednavbar')">
                                    <label class="onoffswitch-label" for="sidebar_fixednavbar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                       </div>
					<div class="setings-item">
						<span>
							左边菜单最小化时消失
						</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="sidebar_hiddensidebar" onchange="blogChange('sidebar_hiddensidebar')">
                                    <label class="onoffswitch-label" for="sidebar_hiddensidebar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                       </div>
                </div>

            </div>
            </div>
            </div>
{% endblock %}
    </div>  
</div>
</body>
</html>
