{% extends 'blog/base_menu.html' %}
{% block jshead %}
{{ block.super  }}
<script type="text/javascript">
    $(document).ready(function(){
		$('.carousel').carousel({
			interval: 5000
		});
    });
</script>

{% endblock %}
{% block menulist %}
	<li id="li-1" class="active menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:selfIndex' %}"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	<li id="li-2" class="menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/shortArticle/"><i class="fa fa-home"></i> <span class="nav-label">短篇博文</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:shortArticle' %}"><i class="fa fa-file-text-o"></i> <span class="nav-label">短篇博文</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	<li id="li-3" class="menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/article/"><i class="fa fa-home"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:addNewActicle' %}"><i class="fa fa-file-text-o"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	<li id="li-4" class="menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/photo/"><i class="fa fa-home"></i> <span class="nav-label">照片</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:photoView' %}"><i class="fa fa-file-text-o"></i> <span class="nav-label">照片</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	{% if not username %}
	<li id="li-5" class=" menu-li">
		<a href="{% url 'blogdjango:processPermission' %}"><i class="fa fa-cog"></i> <span class="nav-label">博客设置</span><span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li><a href="{% url 'blogdjango:processPermission' %}">权限管理</a></li>
			<li><a href="{% url 'blogdjango:userProfile' %}">用户配置</a></li>
		</ul>
	</li>
	{% endif %}
{% endblock %}
{% block content %}
{% load static %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Blog</a>
            </li>

            <li class="active">
                <strong>主页</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>最近图片</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                       
                        <div class="ibox-content">
                         {%  if lastimgs %}
                            <div class="carousel slide" id="carousel">
                                <div class="carousel-inner">
                                 {% for img in lastimgs %}
                                 {% if forloop.counter0 == 0 %}
                                    <div class="item active">
                                        <img alt="image"  style="width:100%" class="img-responsive" src="{{img.getphotourl}}">
                                    </div>
                                  {% else %}
                                      <div class="item">
                                        <img alt="image"  style="width:100%" class="img-responsive" src="{{img.getphotourl}}">
                                    </div>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                                <a data-slide="prev" href="#carousel" class="left carousel-control">
                                    <span class="icon-prev"></span>
                                </a>
                                <a data-slide="next" href="#carousel" class="right carousel-control">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                            {% else %}
                           <div class="ibox-content">
                                <p>
                                    这个人很懒，暂时没有什么可以展示的
                                </p>
                            </div>
                             {% endif %}
                        </div>
                    </div>
                </div>
            </div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
	{% if not shortArticles %}
	    <div class="col-lg-12">
            <div class="ibox">
			<div class="ibox-title">
                <div class="ibox-tools">
					<h5>最近短博文</h5>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">
                    <p>
                        这个人很懒，暂时没有什么可以展示的
                    </p>
                </div>
            </div>
		</div>
	{% endif %}
	{% for shortArticle in shortArticles %}
        <div class="col-lg-12">
            <div class="ibox">
			<div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">
                    <div class="small m-b-xs">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> {{shortArticle.create_time}}</span>
                    </div>
                    <p>
                    {% autoescape off %} 
                        {{shortArticle.context}}
                    {% endautoescape %}
                    </p>
                </div>
            </div>
		</div>
	{% endfor %}
	</div>
</div>


<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
				<div class="ibox-title">
					<h5>最近一篇文章</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				{% if not lastArticle %}
				<div class="ibox-content">
					<p>
						这个人很懒，暂时没有什么可以展示的
					</p>
				</div>
				{% else %}
                <div class="ibox-content">
                    <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ lastArticle.create_time }}</span>
                        <h1>
                              {{lastArticle.blog_text_title}}
                        </h1>
                        </div>
                        {% autoescape off %} 
						    {{ lastArticle.context }}
                        {% endautoescape %}
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                                {% for tag in lastArticle.gettags %}
                                    <button class="btn btn-white btn-xs" type="button">{{tag}}</button>
                                {% endfor %}
                              </div>
                     </div>               
                </div>
			{% endif %}
            </div>
        </div>
    </div>


</div>
{% endblock %}