{% extends 'blog/base_menu.html' %}
{% load static %}
{% block jshead %}
{{ block.super  }}
<script>
$(document).ready(function(){
	$("#blogPermissionSubmit").click(function()
	{	
		function commitSuccess(data,textStatus)
		{
			if(data)
			{
				Message("success","成功提交");
			}   
		}
		function commitError(XMLHttpRequest, textStatus, errorThrown)
		{
			if (XMLHttpRequest.status == 500) {
				Message("error","哎呀，服务器出错了");
			} 
		}
		var json = {"0":"","1":"","2":""};
		$(".form-group").each(function(){
		var result = $(this).find("input[type='radio']:checked").val();
		var username = $(this).find("input[type='radio']:checked").attr("name");
		json[result] = json[result] + "," + username;
		});
		commitJson(commitSuccess,commitError,json,"{% url 'blogdjango:processPermission' %}","POST");
	}
	);
});

</script>
{% endblock %}
{% block menulist %}
<li>
    <a href="{% url 'blogdjango:selfIndex' %}"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
</li>
<li>
    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">短篇博文</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="{% url 'blogdjango:shortArticle'%}">全部博文</a></li>
    </ul>
</li>
<li class="active">
    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
    <li><a href="#">新建博文</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">博客设置</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#">权限管理</a></li>
        <li><a href="#">待用</a></li>
    </ul>
</li>
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Blog</a>
            </li>

            <li class="active">
                <strong>permission</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title  back-change">
                        <h5>blog权限设置</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <a href="#">开启blog的权限控制</a>
                                        <div class="onoffswitch">
                                            <input type="checkbox" class="onoffswitch-checkbox" id="blogPermissionSwitch" value="blogPermissionSwitch">
                                            <label class="onoffswitch-label">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                    <div class="ibox-title  back-change">
                        <h5>新的权限申请</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                <div class="ibox-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                    <th>用户名</th>
                                    <th>权限申请时间</th>
                                    <th>权限分配</th>
                            </tr>
                            {% for permission in permissons %}
                            <tr>
                                <td class="project-title">
                                    <a href="#">{{permission.ask_from_user.user.username}}</a>
                                </td>
                                 <td class="project-title">
                                    <small>{{permission.ask_time}}</small>
                                </td>
                                <td >
                                 <form method="get" class="form-horizontal">
                                    <div class="form-group">
                                    <label> <input type="radio" value="0" name="{{permission.ask_from_user.user.username}}"> <i></i> 拒绝 </label>
                                    <label> <input type="radio" value="1" name="{{permission.ask_from_user.user.username}}"> <i></i> 可访问</label>
                                    <label> <input type="radio" value="2" name="{{permission.ask_from_user.user.username}}" checked="checked"> <i></i> 可评论</label>
                                    </div>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                <div class="text-center">
                        <a data-toggle="modal" class="btn btn-primary" href="#" id="blogPermissionSubmit">提交</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}