{% extends 'blog/base_menu.html' %}
{% load static %}
{% block jshead %}
{{ block.super  }}
<link href="http://cdn.bootcss.com/summernote/0.8.1/summernote.css" rel="stylesheet">

<script src="http://cdn.bootcss.com/summernote/0.8.1/summernote.min.js"></script>

<script>

function saveShortArticle() 
	{
        var aHTML = $('.summernote').summernote('code'); //save HTML If you need(aHTML: array).
		if(aHTML.length == 0)
		{
			Message("warning","您尚未输入任何内容");
			return void(0)
		}
		var json = {
		 "content":aHTML
		}
		$.ajax({
		type:"POST",
		url:"{% url 'blogdjango:shortArticle' %}",
		data:json,
		dataType:"json",
		beforeSend: function(xhr, settings) {
			var csrftoken = $.cookie('csrftoken');
			if (!csrfSafeMethod(settings.type) && !this.crossDomain)
				{
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
				$(this).attr({disabled:"disabled"});
			},
		success: function(data, textStatus) {
			if(data)
			{
				Message("success","成功提交");
				$('.summernote').summernote('destroy');
				$('.summernote').empty();
			}	
		
		},
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			if (XMLHttpRequest.status == 404) {
				Message("warning","您尚未输入任何内容");
			} else if (XMLHttpRequest.status == 500) {
				Message("error","哎呀，服务器出错了");
			} else if (XMLHttpRequest.status == 400) {
				Message("error","提交的数据有错");
			}
		}	
	});
    }
function startEditor()
{
	$('.summernote').summernote();
	$('#summernoteibox').removeClass('collapsed');
}
function cancel()
{
	$('.summernote').summernote('destroy');
	$('#summernoteibox').addClass('collapsed');
}
</script>

{% endblock %}
{% block menulist %}
<li>
    <a href="{% url 'blogdjango:selfIndex' %}"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
</li>
<li class="active">
    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">短篇博文</span> <span class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
		<li><a href="#">全部博文</a></li>
	</ul>
</li>
<li>
    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
	<li><a href="{% url 'blogdjango:addNewActicle' %}">新建博文</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">博客设置</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#">权限管理</a></li>
        <li><a href="#">待用</a></li>
    </ul>
</li>
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Blog</a>
            </li>

            <li class="active">
                <strong>ShortArticle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
	{% if title%}
        <h2>{{title}}</h2>
		<small>诗万卷，酒千觞</small>
	{% endif %}
    </div>
</div>

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins" id="summernoteibox">
            <div class="ibox-title">
                <h5>新建短博文</h5>
                <div class="ibox-tools">
				<button id="new" class="btn btn-primary  btn-xs" onclick="startEditor()" type="button">新建</button>
				<button id="save" class="btn btn-primary  btn-xs" onclick="saveShortArticle()" type="button">保存</button>
				<button id="cancel" class="btn btn-primary  btn-xs" onclick="cancel()" type="button">取消</button>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding summernote">
            </div>
			
        </div>
    </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
	{% if not shortArticles %}
	    <div class="col-lg-12">
            <div class="ibox">
			<div class="ibox-title">
                <div class="ibox-tools">
					<h5>全部短博文</h5>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">
                    <p>
                        这个人很懒，暂时没有什么可以展示的
                    </p>
                </div>
            </div>
		</div>
	{% endif %}
	{% for shortArticle in shortArticles %}
		{% if forloop.counter0|divisibleby:"3" %}
		<div class="row">
		{% endif %}
        <div class="col-lg-4">
            <div class="ibox">
			<div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">
                    <div class="small m-b-xs">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> {{shortArticle.create_time}}</span>
                    </div>
                    <div>
					{% autoescape off %} 
                        {{shortArticle.context}}
					{% endautoescape %}
                    </div>
                </div>
            </div>
		</div>
		{% if forloop.counter|divisibleby:"3" %}
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>

{% endblock %}