{% extends 'blog/base_menu.html' %}
{% load static %}
{% block jshead %}
{{ block.super  }}
<link href="http://cdn.bootcss.com/summernote/0.8.1/summernote.css" rel="stylesheet">

<script src="http://cdn.bootcss.com/summernote/0.8.1/summernote.min.js"></script>
<script>
$(document).ready(function(){
	$(window).scroll(function () {
		if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
					{% if username %}
						refreshShortArticle('{{username}}');
					{% else %}
						refreshShortArticle();
					{% endif %}
			}
		
	});
});
</script>
{% endblock %}
{% block menulist %}
{% if not username %}
	<li id="li-1" class="menu-li">
		<a href="{% url 'blogdjango:FriendDymic' %}"><i class="fa fa-users"></i> <span class="nav-label">好友动态</span><span class="fa arrow"></span></a>
	</li>
{% endif %}
	<li id="li-2" class="menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:selfIndex' %}"><i class="fa fa-home"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	<li id="li-3" class="active menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/shortArticle/"><i class="fa fa-comment"></i> <span class="nav-label">调侃</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:shortArticle' %}"><i class="fa fa-comment"></i> <span class="nav-label">调侃</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	<li id="li-4" class="menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/article/"><i class="fa fa-file-text-o"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:addNewActicle' %}"><i class="fa fa-file-text-o"></i> <span class="nav-label">博客文章</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	<li id="li-5" class="menu-li">
		{% if username %}
		<a href="/blog/user/{{username}}/photo/"><i class="fa fa-picture-o"></i> <span class="nav-label">照片</span> <span class="fa arrow"></span></a>
		{% else %}
		<a href="{% url 'blogdjango:photoView' %}"><i class="fa fa-picture-o"></i> <span class="nav-label">照片</span> <span class="fa arrow"></span></a>
		{% endif %}
	</li>
	{% if not username %}
	<li id="li-6" class=" menu-li">
		<a href="{% url 'blogdjango:processPermission' %}"><i class="fa fa-cog"></i> <span class="nav-label">博客设置</span><span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li><a href="{% url 'blogdjango:processPermission' %}">权限管理</a></li>
			<li><a href="{% url 'blogdjango:userProfile' %}">用户配置</a></li>
		</ul>
	</li>
	{% endif %}
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Blog</a>
            </li>

            <li class="active">
                <strong>ShortArticle</strong>
            </li>
        </ol>
    </div>
</div>

{% if not username %}
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins" id="summernoteibox">
            <div class="ibox-title">
                <h5>新建</h5>
                <div class="ibox-tools">
				<button id="new" class="btn btn-primary  btn-xs" onclick="startEditor()" type="button">新建</button>
				<button id="save" class="btn btn-primary  btn-xs" onclick="saveShortArticle()" type="button">保存</button>
				<button id="cancel" class="btn btn-primary  btn-xs" onclick="cancel()" type="button">取消</button>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding summernote">
            </div>
			
        </div>
    </div>
    </div>
</div>
{% endif %}

<div class="hidden shortArticleCommentTemplate">
	<div class="social-comment">
		<a href="/blog/index/" class="pull-left">
		{% if username %}
			<img alt="image" src="{{selfUserDetail.head_photo}}">
		{% else %}
			<img alt="image" src="{{userDetail.head_photo}}">
		{% endif %}
		</a>
		<div class="media-body">
			<a class="comment-User" href="/blog/index/">
			{% if username %}
				{{selfUserDetail.username}}
			{% else %}
				{{userDetail.username}}
			{% endif %}
			</a>
			
			<br/>
			<a class="small">回复</a>
			<small class="text-muted tolocaltime"></small>
		</div>
	</div>
</div>
 <div class="hidden shortArticleTemplate">
        <div class="social-feed-separated">

            <div class="social-avatar">
                <a href="">
                    <img class="photo-img" alt="image" src="">
                </a>
            </div>

            <div class="social-feed-box">

                <div class="social-avatar">
                    <a class="name-a" href="#">
                        Andrew Williams
                    </a>
                    <small class="text-muted tolocaltime">Today 4:21 pm - 12.06.2014</small>
                </div>
                <div class="social-body">
                </div>
                <div class="social-footer">
					<div class="social-comment shortComment-reply">
						<a href="/blog/index/" class="pull-left">
							{% if username %}
							<img alt="image" src="{{selfUserDetail.head_photo}}">
							{% else %}
							<img alt="image" src="{{userDetail.head_photo}}">
							{% endif %}
						</a>
						<div class="media-body">
							<textarea class="form-control" placeholder="在这里写评论"></textarea>
							<input type="hidden" name="parentId" class="shortCommentParentId" value="undefined">
							<button class="btn btn-primary  btn-xs shortArticleTemplateSubmit" type="button">评论</button>
						</div>
					</div>
                </div>
            </div>
        </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 shortArticleList">
            {% if not shortArticles %}
                <div class="ibox-content">
                    <p>
                        这个人很懒，暂时没有什么可以展示的
                    </p>
                </div>
            {% endif %}
            {% for mshortArticle in shortArticles %}
             <div class="social-feed-separated" id="short_Article_{{mshortArticle.shortArticle.id}}">
    
                <div class="social-avatar">
                    <a href="/blog/user/{{userDetail.username}}/">
                        <img alt="image" src="{{userDetail.head_photo}}">
                    </a>
                </div>
    
                <div class="social-feed-box">
    
                    <div class="social-avatar">
                        <a href="/blog/user/{{userDetail.username}}/">
                            {{userDetail.username}}
                        </a>
                        <small class="text-muted tolocaltime">{{mshortArticle.shortArticle.create_time}}</small>
                    </div>
                    <div class="social-body">
                        
                            {% autoescape off %} 
                                {{mshortArticle.shortArticle.context}}
                            {% endautoescape %}
                        
                    </div>
                    <div class="social-footer">
					{% for parentId,commentList in mshortArticle.comments.items %}
                        <div class="social-comment" id="shortArticle_comment_{{parentId}}">
						{% for commentItem in commentList %}
							{% if forloop.counter0 == 0 %}
                            <a href="/blog/user/{{commentItem.user.username}}/" class="pull-left">
                                <img alt="image" src="{{commentItem.user.head_photo}}">
                            </a>
                            <div class="media-body">
                                <a href="/blog/user/{{commentItem.user.username}}/">
                                    {{commentItem.user.username}}
                                </a>
									{% autoescape off %} 
										{{commentItem.comment.context}}
									{% endautoescape %}
                                <br/>
								<a class="small" onclick="shortCommentReply({{mshortArticle.shortArticle.id}},{{parentId}},'{{commentItem.user.username}}')" >回复</a>
                                <small class="text-muted tolocaltime">{{commentItem.comment.comment_time}}</small>
                            </div>
							{% else %}
							<div class="social-comment">
								<a href="/blog/user/{{commentItem.user.username}}/" class="pull-left">
									<img alt="image" src="{{commentItem.user.head_photo}}">
								</a>
								<div class="media-body">
									<a href="/blog/user/{{commentItem.user.username}}/">
										{{commentItem.user.username}}
									</a>
									{% autoescape off %} 
										{{commentItem.comment.context}}
									{% endautoescape %}
									<br/>
									<a class="small" onclick="shortCommentReply({{mshortArticle.shortArticle.id}},{{parentId}},'{{commentItem.user.username}}')">回复</a>
									<small class="text-muted tolocaltime">{{commentItem.comment.comment_time}}</small>
								</div>
							</div>
							{% endif %}
						{% endfor %}
                        </div>
					{% endfor %}
						<div class="social-comment shortComment-reply">
							<a href="/blog/index/" class="pull-left">
								{% if username %}
								<img alt="image" src="{{selfUserDetail.head_photo}}">
								{% else %}
								<img alt="image" src="{{userDetail.head_photo}}">
								{% endif %}
							</a>
							<div class="media-body">
								<textarea class="form-control" onblur="shortTextAreaBlur({{mshortArticle.shortArticle.id}})" placeholder="在这里写评论"></textarea>
								<input type="hidden" name="parentId" class="shortCommentParentId" value="undefined">
								{% if username %}
								<button class="btn btn-primary  btn-xs" onclick="commitshortComment({{mshortArticle.shortArticle.id}},'{{selfUserDetail.username}}','{{username}}')" type="button">评论</button>
								{% else %}
								<button class="btn btn-primary  btn-xs" onclick="commitshortComment({{mshortArticle.shortArticle.id}},'{{userDetail.username}}')" type="button">评论</button>
								{% endif %}
							</div>
						</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}