{% extends "blog/base.html" %}
{% block title %}欢迎访问{% endblock %}

{% load static %}
{% load i18n %}
{% block jshead %}
	{{ block.super }}
	<script src="http://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/form-elements.css' %}" />
	<script>
	$(document).ready(function(){
		$.backstretch([
		{% for pic in welcomepics %}
			"{{ pic }}",
		{% endfor %}
		"{% static 'registration/img/1.jpg' %}"
		,"{% static 'registration/img/2.jpg' %}"
		,"{% static 'registration/img/3.jpg' %}"
		], {duration: 3000, fade: 750});
	});
	</script>
{% endblock %}
{% block navmenu %}
<div class="navbar-collapse collapse" style="height: 1px;">
<ul class="nav navbar-nav navbar-right">	
	<li><a href="#">关于本站</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url 'blogauth:logout' %}">退出登录</a></li>
	{% endif %}
</ul>
</div>
{% endblock %}
{% block content %}
      <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
							{% if user.is_authenticated %}
							<div class="alert alert-warning alert-dismissable">
								<a class="close" data-dismiss="alert">×</a>
								{% blocktrans with username=request.user.get_username trimmed %}
								你已经以 {{ username }}登陆，请勿重复登陆/注册
								{% endblocktrans %}
							</div>
							{% endif %}
							{% if form.non_field_errors %}
                            <div class="alert alert-warning alert-dismissable">
								{% for error in form.non_field_errors %}
                            	<a class="close" data-dismiss="alert">×</a>
									{{ error }}
								{% endfor %}
                            </div>
							{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
									{% if register %}
                        			<h3>注册你的博客</h3>
									{% else %}
									<h3>登陆你的博客</h3>
									{% endif %}
                            		<p>输入账号和密码:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
							{% if register %}
								<form role="form" action="{% url 'blogauth:userRegister' %}" method="post" id="login-form" class="login-form">{% csrf_token %}
							{% else %}
			                    <form role="form" action="{% url 'blogauth:login' %}" method="post" id="login-form" class="login-form">{% csrf_token %}
							{% endif %}
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="username" placeholder="账号..." class="form-username form-control" id="username">
			                        </div>
									{% if register %}
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="password1" placeholder="密码..." class="form-password form-control" id="password1">
										<input type="hidden" name="next" value="{{ next }}" />
			                        </div>
									<div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="password2" placeholder="确认密码..." class="form-password form-control" id="password2">
										<input type="hidden" name="next" value="{{ next }}" />
			                        </div>
			                        <button type="submit" class="btn">注册</button>
			                        <p>已经有帐号？<a href="{% url 'blogauth:login' %}">登录</a></p>
									{% else %}
									<div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="password" placeholder="密码..." class="form-password form-control" id="password">
										<input type="hidden" name="next" value="{{ next }}" />
			                        </div>
									<button type="submit" class="btn">登陆</button>
									<p>没有帐号？<a href="{% url 'blogauth:userRegister' %}">注册</a></p>
									{% endif %}
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
{% endblock %}
