{% extends "registration/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% trans 'Change password' %} / <a href="{% url 'blogauth:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'blogdjango:selfIndex' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Register done' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<p>hi {{username}} ,Your Account register successfully,please waiting for administrator to confirm.</p>
{% endblock %}
